.currsong {
  padding: 10px;
  justify-content: center;

}

.otherInfo {
  display: flex;
  flex-direction: row;
}

.songTitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: white;
  background-color: #2f3135;
  max-width: 50%;
  padding: 20px;
  overflow: hidden;
  white-space: nowrap;
}

.fixed {
  display: flex;
  justify-content: center;
}

.overflow {
  animation: animate 10s ease-in-out infinite;
}

@keyframes animate {
  0%{
    transform: translateX(100%);  
  }
  100% {
    transform: translateX(-100%);
  }
}

.songinfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0.4;
  align-items: center;
}

.analyzer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0.6;
  padding-right: 5vh;
}

.analyzer > h2 {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  color: rgba(255,255,255,.70);
}

.checkSongButton {
  display:inline-block;
  width: 490px;
  padding:30px 10px;
  margin-top: 20px;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  text-transform:uppercase;
  font-weight: bold;
  font-size: 30px;
  color:#FFFFFF;
  background-color: #3DD87A;
  /* box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17); */
  text-align:center;
  position:relative;
  border-radius: 15px;

}

.checkSongButton:hover {
  transform: scale(1.03);
}

.checkSongButton:active {
  top:0.1em;
}

.progressBars {
  margin: 45px 25px;
  display: block;
}

.progressBars > h3 {
  color: white;
}

.albumCover {
  background-color: #2f3135;
  padding: 20px;
  margin-top: 45px;
}

